include _mixin_media

mixin label(field_key)
	- var ng_label = field_key+'{{asset._id}}'
	//- var ng_infotext = 'infotext("'+ field_key +'")'
	- var ng_infotext = field_key+'{{asset._id}}-help = !'+field_key+'{{asset._id}}-help'

	div
		label(
			for=ng_label
			i18n-source=field_key
			control-label
		)= field_key
		span.info &nbsp;
			.fa.fa-info-circle.infotext_button(ng-click='ng_infotext')

mixin helptext(field_key)
	- var help_id = field_key+'{{asset._id}}'
	- var help_i18n = field_key+'.helptext'
	- var ng_infotext = field_key+'{{asset._id}}-help'
	span.help-block(
		id=help_id
		i18n-source=help_i18n
		ng-if=ng_infotext
	)= help_i18n

mixin input(field_type, field_key, resource_list, sys_val)
	- var _id = field_key+'{{asset.id}}'
	- var help_label = field_key+'{{asset.id}}-help'
	- var repeat = 'option in '+resource_list;
	- var options = 'option.title for option in '+resource_list;
	- var _ng_field_key = '{{' + field_key + '}}'
	- var _i18n_field_key = '{{"' + field_key + '" | translate }}'

	div(
		class=field_type
	)
		if sys_val
				span.sys_val(
					ng-content=field_key
				)
		else
			div
				if field_type == 'file'
					md-button.md-raised(ngf-select='', ng-model='files', ngf-multiple='true', ngf-allow-dir='true', ngf-accept="'.jpg,.png,.pdf'")
						span.fa.fa-file-o &nbsp;
						span(translate) choosefile

				if field_type == 'fileimage'
					+media('image',150,100)
					md-button.md-raised(
					ngf-select
					ng-model='files'
					ngf-accept="'.jpg,.png,.pdf'"
					ng-show='asset.editable'
					)
						span.fa.fa-file-o &nbsp;
						span(translate) choosefile


				else if field_type == 'slider'
					//
					md-slider(
					flex
					min="0"
					max="255"
					ng-model=field_key
					)

				else if field_type == 'textarea'
					md-input-container

						textarea(
						ng-model=field_key
						placeholder=_i18n_field_key
						rows='1'
						aria-label=help_label
						md-maxlength='500'
						ng-disabled='!asset.editable'
						)= _ng_field_key

				else if field_type == 'checkbox'
					md-checkbox(
					ng-model=field_key
					aria-label=help_label
					class="md-warn"
					ng-disabled='!asset.editable'
					)= _ng_field_key

				else if field_type == 'switch'
					md-switch(
					ng-model=field_key
					aria-label=help_label
					class="md-warn"
					ng-disabled='!asset.editable'
					)= _ng_field_key

				else if field_type == 'select'
					md-select(
					placeholder=resource_list
					ng-model=field_key
					ng-options=options
					ng-disabled='!asset.editable'
					)
						md-option(
						ng-repeat=repeat
						ng-value='option.title'
						aria-label='{{option.title}}'
						) {{option.title}}

				else if field_type == 'radio'
						md-radio-group(
						placeholder=resource_list
						ng-model=field_key
						)
							- _ng_radio_hide = '!asset.editable && option.title != '+ field_key
							- _ng_radio_value = field_key + ' == {{option.title}}'
							md-radio-button(
							ng-disabled='!asset.editable'
							ng-repeat=repeat
							ng-value='option.title'
							ng-hide=_ng_radio_hide
							aria-label='{{option.title}}'
							) {{option.title}}

				else if field_type == 'chip'
					md-chips(
					placeholder=_i18n_field_key
					ng-model=field_key
					ng-disabled='!asset.editable'
					)

				else if field_type == 'autocomplete'
					md-autocomplete(
					md-no-cache="ctrl.noCache"
					md-selected-item="ctrl.selectedItem"
					md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
					md-search-text="ctrl.searchText"
					md-selected-item-change="ctrl.selectedItemChange(item)"
					md-items="item in ctrl.querySearch(ctrl.searchText)"
					md-item-text="item.display"
					md-min-length="0"
					ng-disabled='!asset.editable'
					)

				else
					md-input-container
						input(
						type=field_type
						ng-model=field_key
						ng-value=field_key
						placeholder=_i18n_field_key
						i18n=field_key
						ng-disabled='!asset.editable'
						)
