mixin mime(type)
	// type is one of: "icon","icontext","text"
	.mimetype()



mixin media(field_type, width, height, clickaction)
	// ngf-thumbnail -> binds to the file button
	- width = (isNaN(parseInt(width))) ? 80 : width
	- height = (isNaN(parseInt(height))) ? width : height
	div(class=field_type)
		if field_type == 'image'

			- _img_src = 'http://placehold.it/'+ width + 'x' + height + '/0000cc/000000'
			- _img_style = 'max-width:'+ width +'px;max-height:'+ height +'px;text-align:center'

			img(
			src=_img_src
			alt='{{asset.title}}'
			ng-if='!files[0]'
			style=_img_style
			)
			img(
			ng-repeat='file in files'
			ngf-thumbnail='file'
			ng-if='file'
			style=_img_style
			)

		else if field_type == 'video'
			+controls('video')
			video(
				autoplay='false'
				poster='{{asset.posterUrl}}'
			)
				src
		else if field_type == 'audio'
			+controls('audio')
			audio(
				autoplay='false'
			)
				src

mixin player(type)
	.media(style='width:100%;margin:0!important')
		.overlay(style='margin:5px -15px!important')
			.cursor.mediaControl.hidden(style='z-index:11;height:120px;border-left:1px solid #fff;width:1px;opacity:0;position:absolute;left:0px;text-shadow:0px 0px 2px #000')
				.fa.fa-map-marker.fa-2x.white(style="position:absolute;left:-9px;top:-20px;cursor:default")
			.overlayBar.mediaControl.hidden(style='height:120px;background:rgba(0,0,0,0.3);z-index:10;position:absolute;right:0px;max-width:100%;width:100%;border-left:3px solid red')
			.mask.mediaControl.progress.hidden(style='height:120px;background:rgba(200,0,0,0.8);z-index:9;position:absolute;right:0px;width:100%;')
			img.display.preview
		.btn-group.hidden.mediaControl(style='margin:5px 0 0 0')
			button.btn.btn-sm.italic.fa.fa-fw.fa-step-backward.back.mediaControl.black(data-action='back',style='text-align:center;width:35px;background:transparent!important')
			button.btn.btn-sm.italic.fa.fa-fw.fa-arrows-alt.fullscreen.mediaControl.black(data-action='fullscreen' data-target='' style='text-align:center;width:35px;background:transparent!important')
			button.btn.btn-sm.italic.fa.fa-fw.fa-play.play.mediaControl.black(data-action='play',style='text-align:center;width:35px;background:transparent!important')
			button.btn.btn-sm.italic.fa.timecode.black.disabled(style='background:transparent!important;font-family:Helvetica,sans') 00:00:00
				.fa.fa-spin.fa-fixed.fa-refresh
			button.btn.btn-sm.italic.fa.fa-volume-up.mediaControl.black.mute(style='width:70px;text-align:left;background:transparent!important;margin:-2px 0 0 0')
				span &nbsp;
				span#volumeLevel(style='font-family:Helvetica,sans;font-size:0.8em') 50%
			#volumeHolder.pull-right
				#controlVolume
					#volSlider
						#volCaret