mixin input(field_type, field_key, resource_type, sys_val)

	div(
		class=field_type
	)

		label(
			for=field_key
			i18n-source=field_key
		)= field_key

		if sys_val

			span.sys_val(
				ng-content=field_key
			)
		else

			if field_type == 'file'
				input(
					type='file'
					name=field_key
					ng-if='asset.editable'
				)
				img(
					ng-src='asset.contentUrl'
					alt='asset.title'
				)

			else if field_type == 'select'
				- repeat = 'option in '+resource_type;
				select(
					ng-repeat=repeat,
					name=field_key
					ng-if='asset.editable'
					ng-value=field_key
				)
					option(
						ng-value='option.title'
						name=field_key
						i18n-source='option.title'
					)
				span(
					name=field_key
					ng-content=field_key
					ng-if='!asset.editable'
				)

			else if field_type == 'textarea'
				textarea(
					name=field_key
					ng-if='asset.editable'
					ng-value=field_key
				)
				p(
					name=field_key
					ng-content=field_key
					ng-if='!asset.editable'
				)

			else

				input(
					type=field_type
					name=field_key
					ng-if='asset.editable'
					ng-value=field_key
				)
				span(
					name=field_key
					ng-content=field_key
				)
