mixin button(TEXT, action, style, icon, _ng_if)
	- var _i18n_field_key = '{{"' + TEXT + '" | translate }}'

	md-button.md-raised(
	class=style
	ng-click=action
	aria-label=_i18n_field_key
	ng-if=_ng_if
	)
		.fa.fa-fw(class=icon) &nbsp;
		span= _i18n_field_key

mixin button_fab(TEXT, action, style, icon, _ng_if)
	- var _i18n_field_key = '{{"' + TEXT + '" | translate }}'

	md-button.md-raised.md-fab(
	class=style
	ng-click=action
	aria-label=_i18n_field_ke
	ng-if=_ng_if
	)
		.fa(class=icon)
		span= _i18n_field_ke

mixin lockswitch(TEXT, model, action, icon, _ng_disabled)
	//- var _i18n_field_key = '{{"' + TEXT + '" | translate }}'
	//- var _i18n_field_key = {{"+ model +" && 'locked' || 'unlocked'}}
	- var _switch_class = "{{"+ model +" && 'locked' || 'unlocked'}}"
	// we're using this singelton for the LOCK switch
	// and probably should abstract it out.
	.labelRight(
	class=_switch_class
	style="margin-right:30px"
	)
		md-switch.md-primary(
		ng-model=model
		ng-if=_ng_if
		ng-disabled=_ng_disabled
		)
		md-tooltip(
		md-direction='bottom'
		)= _switch_class
