mixin layout(layout, align,fill)
	// layout = "column | row"
	// align = "start center"
	div(layout=layout layout-align=align layout-fill=fill)
		if block
			block
mixin content(layout, align)
	div(flex layout=layout layout-align=align)
		if block
			block